<html>
<head>
    {% load staticfiles %}
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/lib/jquery-2.0.3.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/lib/kinetic-v4.7.4.min.js" %}" ></script>
</head>
<body>
    <h2>Game</h2>

    <div style="width: 500px;">
        <ul style="float: left;">
            <li>Player: <span id="player"></span></li>
            <li>Creation date: {{game.creation_date}}</li>
            <li>Map: {{game.map_set.all.0}}</li>
            <input type="submit" id="finishStroke" value="Завершить ход">
        </ul>

        <div style="float: right;">
            <p>Купить:</p>
            <input type="submit" id="buySettler" value="S">
            <input type="submit" id="buyMilitiaman" value="M">
            <input type="submit" id="buyScout" value="C">
            <input type="submit" id="buyOfficer" value="O">
            <input type="submit" id="buyDragoon" value="D">
        </div>
    </div>

    <div id="container"></div>

    <script type="text/javascript" charset="utf-8" src="{% static "game/js/global.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/player.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/unit.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/settlement.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/play.js" %}" ></script>
</body>
</html>