<!DOCTYPE html>
<html>
<head>
    <title>Колонизация</title>
    {% load staticfiles %}
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/lib/jquery-2.0.3.js" %}" ></script>
    <script type="text/javascript" charset="utf-8" src="{% static "game/js/lib/kinetic-v4.7.4.min.js" %}" ></script>
</head>
<body>
    {% include "game/header.html" %}
    <hr>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p style="text-align: center">©2013</p>
    {% endblock %}
</body>
</html>