{% extends "layout/layout.html" %}

{% block content %}
    <div class="clearfix" />
    <h2><span class="label label-primary">Колонизация</span></h2>

    <div>
        {% if user.is_authenticated %}
            {% if game %}
                <button id="toGame" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-fire"></span>
                    В Бой
                </button>
                <h5 style="color: #ffffff;">
                    <p>Ни одна армия не способна остановить мысль,</p>
                    <p>если пришло ее время ...</p>
                </h5>
            {% else %}
                <button id="createGame" type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Создать Игру
                </button>

                <div class="panel panel-primary" style="width: 330px; margin-left: 200px; margin-right: 200px; margin-top: 10px">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <button id="refreshHosts" type="button" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            Хосты
                        </h3>
                    </div>
                    <div class="panel-body" style="max-height: 150px; overflow-y: auto;">
                        {% for host_game in host_games %}
                            <a href="/game/join_to_game/?pk={{ host_game.pk }}" style="text-decoration: none">
                            {{ host_game.player_set.first.user.first_name }}
                            {{ host_game.player_set.first.user.last_name }}
                            </a>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if user_scores %}
                <table class="table table-responsive" style="color: #ffffff; width: 330px; margin-left: 200px; margin-right: 200px; padding-top: 10px">
                    <h4><span class="label label-danger">
                         <span class="glyphicon glyphicon-user"></span>
                        Таблица Рекордов
                    </span></h4>
                    <tr>
                        <td><strong>Имя</strong></td>
                        <td><strong>Очки</strong></td>
                    </tr>
                    {% for user_score in user_scores %}
                        <tr>
                            <td>{{ user_score.name }}</td>
                            <td>{{ user_score.score }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

        {% endif %}
    </div>

    {% load staticfiles %}
    <script type="text/javascript" charset="utf-8" src="{% static "js/main/home.js" %}" ></script>
{% endblock %}