{% extends "layout/layout.html" %}

{% block content %}
    <h1 style="text-align: center">Колонизация</h1>
    <h2 style="text-align: center">Игра основана на старой игре колонизация</h2>
    <div>
        {% if user.is_authenticated %}
            {% if game %}
                <h3><a href="/game" style="text-decoration: none">В Бой!</a></h3>
            {% else %}
                <h3><a href="/game/create_game" style="text-decoration: none">Создать Игру</a></h3>
                <h3>Созданные Игры:</h3>
                {% for host_game in host_games %}
                    <a href="/game/join_to_game/?pk={{ host_game.pk }}" style="text-decoration: none">
                        Присоединиться к игре
                        {{ host_game.player_set.first.user.profile_set.first.nickname }}
                    </a>
                    <br>
                {% endfor %}
                <h4><a href="/" style="text-decoration: none">Обновить Игры</a></h4>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}